* {
    margin: 0;
    padding: 0;
}

.img-img-background {
    background-image: url(./image/computer.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.nev-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(115, 143, 134, 0.129);
    border-bottom: 1px solid rgb(233, 224, 224);
    padding: 10px 0px;
}

.name {
    margin-left: 200px;
}

.color {
    color: blanchedalmond;
}

.name>h2 {
    color: aliceblue;
}

.name>h2>i {
    color: rgb(201, 192, 22);
}

.number {
    color: rgb(216, 108, 6);
    font-style: Bold;
}

.font-osam {
    margin-right: 200px;


}

.font-osam>ul>a>i {
    color: rgb(238, 216, 10);
    font-size: 20px;
    border: 1px solid;
    background-color: rgba(224, 223, 219, 0.038);
    border: none;
    border-radius: 4px;
    padding: 0px 5px;
}

.font-osam>ul>a>i:hover {
    background-color: rgb(4, 30, 53);
    color: aliceblue;
}

.navigation-img {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 50px;
}

.new-kaj{
    background: linear-gradient(40deg,rgb(8, 164, 207),rgb(8, 119, 210),rgb(0, 255, 200),rgb(255, 0, 238));
    color: transparent;
    background-clip: text;
}

.navigation>ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation>ul>li {
    list-style: none;
}

.navigation>ul>li>a {
    text-decoration: none;
    font-style: Bold;
    color: aliceblue;
    border: 1px solid;
    padding: 6px 12px;
    background-color: rgba(7, 64, 122, 0.229);
    color: rgb(255, 255, 255);
    border: none;
    transition: 1s;
}

.navigation>ul>li>a:hover {
    background-color: rgb(174, 188, 188);
    color: black;
    border-radius: 5px;
    transition: 1s;
}

.navigation-img-img {
    margin-right: 200px;
}

.navigation-img-img-img {
    padding: 10px 23px;
    background-color: rgb(194, 166, 6);
    border: none;
    cursor: pointer;
    transition: 1s;
}

.navigation-img-img-img:hover {
    background-color: aliceblue;
    color: black;
    transform: scale(1.12);
    transition: 1s;
}
.vision{
 
    width: 600px;
    margin-left: 200px;
    margin-top: 150px;
}
.vision >h3{
    color: rgba(219, 176, 6, 0.921);
}
.vision >h1{
    font-size: 60px;
    margin-top: 20px;
}
.lorem-img{
    margin-top: 20px;
    font-style: Bold;
    margin-bottom: 25px;
}
.btn{
    padding: 7px 12px;
    border: none;
    background-color: rgb(209, 161, 3);
    cursor: pointer;
}
.btn-btn{
    padding: 7px 12px;
    background-color: rgba(240, 248, 255, 0.183);
    border: 1px solid rgb(255, 255, 254);
    color: aliceblue;
    margin-left: 10px;
    transition: 1s;
    cursor: pointer;
}
.btn-btn:hover{
    background-color: rgb(1, 14, 25);
    color: rgb(255, 255, 255);
    border: none;
    transition: 1s;
}

.class-div{
    height: 500px;
    position: absolute;
    top: 800px;
}
.code-img-img{
    width: 1500px;
    height: 500px;
   
    margin-left: 200px;
  
}


.navigation-code{
    display: flex;
    justify-content: space-between;
    
}

.navigation-code-code{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.div-div{
  width: 750px;
  background-color: rgb(242, 152, 9);
  margin-left: 50px;
}
.navigation-code-code-code{
    border: 1px solid rgb(143, 139, 139);
    padding: 30px 150px 93px 20px;
    background-color: rgb(250, 250, 250);
}
.div-div > h3{
    margin-left: 50px;
    margin-top: 40px;
}
.div-div >h2{
    margin-left:50px ;
    margin-top: 20px;
    font-size: 40px;
}
.div-div >p{
    margin-left: 50px;
    margin-top: 40px;
}
.div-div>button{
    margin-left: 50px;
    margin-top: 20px;
    padding: 7px 12px;
    border: none;
    background-color: rgb(8, 5, 74);
    color: aliceblue;
    transition: 1s;
    cursor: pointer;
}
.div-div>button:hover{
    background-color: aliceblue;
    color: rgb(0, 5, 10);
    transition: 1s;
}


.name-code-img{
  margin-left: 300px;
}
.name-code-img>h1{
    margin-bottom: 30px;
    font-size: 40px;
}
.navigation-code-code-code >p{
    margin-top: 10px;
}
.margin-top-img{
    margin-top: 410px;
}
.image-with-code{
    align-items: center;
}
.image-code >img{
    width: 400px;
    height: 300px;
   
}

.image-with-code{
    margin-left: 300px;
    width: 1400px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
.image-code >h3{
    margin-top: 20px;
}
.image-code >p{
    margin-top: 14px;
    margin-bottom: 25px;
    width: 300px;
}


.code-with-noyon{
    height: 600px;
    margin-top: 100px;
}
.display-image{
    display: flex;
}
.first-image{
    background-image: url(./image/girls.jpg);
    height: 500px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}
.first-img-img{
    background-image: url(./image/girls\ 2233.jpg);
     height: 500px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}
.code-first{
    margin-left: 300px;
    margin-top: 70px;
}
.code-first >h3{
    font-size: 24px;
    color: rgb(224, 177, 9);
}
.code-first >h1{
    font-size: 40px;
    color: rgb(247, 247, 247);
    margin-top: 10px;
}
.code-first >p{
    margin-top: 10px;
    color: aliceblue;
    margin-bottom: 40px;
}
.hello-world{
    padding: 9px 13px;
    border: none;
    background-color: rgb(239, 212, 6);
    cursor: pointer;
     transition: 0.5s;
}
.hello-world:hover{
    background-color: rgb(0, 5, 10);
    color: azure;
    transition: 0.5s;
}
.hello-noyon-code{
    margin-top: 70px;
    margin-left: 150px;
}
.hello-noyon-code>h2{
    color: aliceblue;
    font-size: 40px;
}
.hello-noyon-code>p{
    color: rgb(242, 230, 7);
    margin-top: 10px;
    margin-bottom: 20px;
}
.icon-icon{
    color: aliceblue;
}
.icon-icon >span{
    color: rgb(255, 255, 255);
}
.first-img-img{
    transition: 1s;
}
.first-img-img:hover{
    opacity: 1;
    transition: 1s;
}






.iama-hossain{
    font-size: 50px;
    color: rgb(250, 188, 2);
    background-color: rgb(3, 18, 32);
    width: 1400px;
   margin-left:250px;
}

.div-image-class{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 1000px;
    margin-left: 300px;
    margin-top: 100px;
}
.main-div-class{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.hover-div{
    border: 1px solid whitesmoke;
    padding: 20px 100px 70px 40px;
    background-color: rgba(255, 255, 255, 0);
     transition: 1s;
     box-shadow: 4px 5px 10px rgb(28, 14, 4);
     border: none;
}
.class-sus{
    width: 500px;
}
.class-sus >h3{
    margin-bottom: 20px;
    color: rgb(245, 209, 6);
}
.main-off{
    height: 800px;
}
.class-sus >h1{
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
}
#class-div{
    margin-left: 100px;
}
.hover-div>p{
    margin-top: 20px;
}
.hello-world-div{
    margin-top: 20px;
}
.hover-div:hover{
    background-color: rgb(166, 166, 166);
    transition: 1s;
}
.div-button-div{
  padding: 10px 20px;
  margin-left: 850px;
  margin-top: 100px;
  background-color: rgb(236, 179, 8);
  border: none;
  transition: 1s;
}
.div-button-div:hover{
    background-color: rgb(18, 55, 110);
    color: aliceblue;
    transition: 1s;
}
.back-ground{
    background-color: rgb(245, 240, 240);
    height: 800px;
}
.Founders{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.div-div-btn {
 width: 500px;
}
.div-div-btn >h3{
    margin-left: 150px;
    margin-bottom: 20px;
    font-size: 25px;
}
.div-div-btn >h1{
    margin-left: 40px;
}
#world-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.world-image-image >img{
   width: 400px;
   height: 400px;
}
.world-image-image{
    position: relative;
}
.noyon-ali{
    position: absolute;
    top: 300px;
    left: 40px;
    color: aliceblue;
}
#active{
  margin-left: 900px;
  padding: 10px 30px;
  margin-top: 60px;
   background-color: rgba(237, 157, 9, 0.886);
  border-color: rgb(255, 255, 255);
  color: aliceblue;
  border: none;
  transition: 1s;
  cursor: pointer;
}
#active:hover{
    background-color: aliceblue;
    color: black;
    transition: 1s;
}

.img-1{
    background-image: url(./image/max-harlynking-nfWp1mCmBpM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
}
.img-2{
    background-image: url(./image/oooo.jpg);
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
    
}
.img-3{
    background-image: url(./image/rafaella-mendes-diniz-et_78QkMMQs-unsplash.jpg);
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
}
.img-4{
    background-image: url(./image/sobhan-joodi-4e65GsNzkf0-unsplash.jpg);
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
}
.img-5{
    background-image: url(./image/sobhan-joodi-jVEHdNCaiiw-unsplash.jpg);
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
}
.display-image{
    display: flex;
}
.wight-image{
    height: 600px;
}
.hight-color{
    height: 400px;
    background-color: rgb(3, 46, 84);
}
.color-img{
    background-color:  rgb(3, 46, 84);
}
.footer-img{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    color: aliceblue;
}
.noyon-noyon{
    color: aliceblue;
    margin-top: 100px;
}
.noyonali{
    border-bottom: 1px solid;
}
.borader-dabo{
    border-bottom: 1px solid rgb(221, 47, 47);
}
.kkk{
    border-bottom: 1px solid rgb(251, 250, 249);
}
.vidiv{
    margin-bottom: 20px;
}
.lastkaj{
    color: aliceblue;
    margin-top: 30px;
    margin-left: 300px;
}